@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background-color: #181B1E;
  color: #F8F9FA;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 1.6em;
}

a,
a:hover {
  text-decoration: none;
  color: #F8F9FA;
  text-decoration: underline;
  text-decoration-color: #F8F9FA;
}

/* =========== NAVIGATION BAR ========= */
header {
  width: 100%;
  padding: 10px 0;
}

.nav_brand {
  text-transform: uppercase;
  font-size: 1.5em;
  width: 100%;
}

/* =========== ABOUT AREA ========= */

.about-area {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  height: 100vh;
  width: 100%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro_hi {
  margin-bottom: 20px;
}

.intro_tagline {
  width: 100%;
  position: relative;
  font-weight: 300;
  margin-bottom: 20px;
}

.intro_contact {
  font-size: 0.7em;
  font-weight: 200;
  padding: 10px 0px;
  width: 100%;
}

.intro_profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro_profile img {
  width: 80%;
  object-fit: cover;
  height: 50%;
  border-radius: 50%;
}

#email:hover {
  color: #F8F9FA;
}

.skills-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.skills-area_label,
.skills-area_title {
  padding: 20px 0;
  font-weight: 400;
  text-transform: uppercase;
}

.skills-area_title {
  color: #F8F9FA;
  font-size: 1.2em;
  padding: 20px 0;
}

.skills-area_skills {
  list-style: none;
  padding: 0;
  margin-left: 15px;
}

.skills-area li {
  margin: 0px;
  padding: 10px 0;
}

.background-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.background-area_content,
.background-area_title {
  padding: 0;
  font-weight: 100;
  padding: 100px 0;
}

.background-area_title {
  color: #F8F9FA;
  font-size: 1.5em;
  padding: 10px 0;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.background-area_content {
  color: #F8F9FA;
  font-size: 0.75em;
  padding: 10px 0;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.background-area_container {
  margin-inline: auto;
  display: flex;
  max-width: 42rem;
  gap: 2rem;
}

.background-area_title-container {
  display: flex;
  flex-direction: column;
}

/* =========== PROJECT AREA ========= */
.projects-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  font-size: 0.8em;
}

.projects-area_title {
  color: #F8F9FA;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.projects-area_game-cover {
  text-align: center;
}

.projects-area_game-cover img {
  height: 100%;
  width: 100%;
}

.projects-area h3 {
  color: #F8F9FA;
  text-transform: uppercase;
  font-weight: 400;
}

/* =========== FOOTER ========= */
footer {
  overflow: hidden;
  padding: 20px;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content .contacts {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-content .contacts li {
  display: block;
  margin-right: 16px;
  color: #d7dedc;
  line-height: 60px;
}

.contacts li a {
  color: #F8F9FA;
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column-reverse !important;
    position: relative;
    bottom: 50px;
  }

  .intro_profile img {
    width: 40%;
  }

  .intro_profile {
    margin-bottom: 20px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-content .author {
    width: 100%;
  }

  .footer-content .contacts {
    width: 100%;
    margin-top: 40px;
  }
}